**CSC 365 - Winter 2026 - Lab 1-2**

In [3]:
import pandas as pd
import numpy as np

**Name:** ______________________________________

**Cal Poly Email:**_____________________________

This Jupyter notebook loads two CSV files. One (`world_population.csv`) contains information about the population estimates for each country in the world. The other one (`corruption_data.csv`) reports a metric called "corruption index" (a value in the 0 to 100 range, reflecting the perception of prevalence of corruption in the country  for several years for most (but not all) countries in the world. Higher value values of the corruption index mean that country is **less** corrupt, lower values mean it is **more corrupt**.

The notebook contains 10 questions of the data. Some questions may require looking at only one of the two data files, but there may be questions below that would have you combine the data from both files in order to answer them.

As with Lab 1-1 notebook, each table is provided to you in three different formats (`pandas` data frame, `numPy` 2D array, Python nested list structure). In addition, the list of columns for each table is also available as a separate variable for you to use in your computations.

In [4]:
## loading the world population data

filenameWorld = "world_population.csv"

worldDf = pd.read_csv(filenameWorld)   ## pandas data frame for world population data

worldData = np.array(worldDf)          ## numPy array with the  world population data

worldDl = [list(x) for x in worldData]  ## List of lists with the world population data


worldDf.columns = ['Rank', 'CCA3', 'Country', 'Capital', 'Continent', '2022 Population',
       '2020 Population', '2015 Population', '2010 Population',
       '2000 Population', '1990 Population', '1980 Population',
       '1970 Population', 'Area', 'Density', 'Growth Rate',
       'World Population Percentage']

worldColumns = list(worldDf.columns)   ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

In [5]:
## loading the corruption index  data

filenameCorruption = "corruption_data.csv"

corrDf = pd.read_csv(filenameCorruption)   ## pandas data frame for corruption index data

corrDf['country'] = [x.strip() for x in corrDf["region_name"]]


corrData = np.array(corrDf)              ## numPy array with the  corruption index data

corrDl = [list(x) for x in corrData]     ## List of lists with the corruption index data

corrColumns = list(corrDf.columns)      ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

The data is provided to you in three forms:

1. `pandas` data frame.  `pandas` is a Python package for dealing with tabular data that includes a lot of functionality that is similar to that of relational database which we will be studying in this course.  A data frame is a Python data structure for storing two-dimentional tabular data.  If you know how to work with `pandas` data frames - feel free to use `pandas` functionality.

2. `numPy` array. `numPy` is a Python package primarily used for dealing with multi-dimensional arrays of data. A CSV file can be stored as a two-dimensional `numPy` array in a natural way, and a 2-dimensional `numPy` array is essentially a Python list or Python lists. `numPy` provides a lot of functionality for working with arrays.

3. Python's list of lists. This is the most basic Python structure that does not rely on functionality from any specific Python package. Each row of the CSV file is one element of the list. The element itself is a list containing values of individual cells in the row.

Here is what the `pandas` data frames look like:

In [6]:
worldDf

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area,Density,Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [7]:
corrDf

,region_name,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,country
0,Denmark,88,88,87,88,88,90,91,92,91,90,Denmark
1,New Zealand,88,88,87,87,89,90,91,91,91,90,New Zealand
2,Finland,88,85,86,85,85,89,90,89,89,90,Finland
3,Singapore,85,85,85,85,84,84,85,84,86,87,Singapore
4,Sweden,85,85,85,85,84,88,89,87,89,88,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...
175,Yemen,16,15,15,14,16,14,18,19,18,23,Yemen
176,Venezuela,14,15,16,18,18,17,17,19,20,19,Venezuela
177,Somalia,13,12,9,10,9,10,8,8,8,8,Somalia
178,Syria,13,14,13,13,14,13,18,20,17,26,Syria
179,South Sudan,11,12,12,13,12,11,15,15,14,13,South Sudan

Here are the `numPy` arrays:

In [14]:
worldData

array([[36, 'AFG', 'Afghanistan', ..., 63.0587, 1.0257, 0.52],
       [138, 'ALB', 'Albania', ..., 98.8702, 0.9957, 0.04],
       [34, 'DZA', 'Algeria', ..., 18.8531, 1.0164, 0.56],
       ...,
       [46, 'YEM', 'Yemen', ..., 63.8232, 1.0217, 0.42],
       [63, 'ZMB', 'Zambia', ..., 26.5976, 1.028, 0.25],
       [74, 'ZWE', 'Zimbabwe', ..., 41.7665, 1.0204, 0.2]], dtype=object)

In [15]:
corrData

array([[' Denmark', 88, 88, ..., 92, 91, 90],
       [' New Zealand', 88, 88, ..., 91, 91, 90],
       [' Finland', 88, 85, ..., 89, 89, 90],
       ...,
       [' Somalia', 13, 12, ..., 8, 8, 8],
       [' Syria', 13, 14, ..., 20, 17, 26],
       [' South Sudan', 11, 12, ..., 15, 14, 13]], dtype=object)

And here are the Python lists (we are displaying only the first four rows here):

In [16]:
worldDl[0:4]

[[36,
  'AFG',
  'Afghanistan',
  'Kabul',
  'Asia',
  41128771,
  38972230,
  33753499,
  28189672,
  19542982,
  10694796,
  12486631,
  10752971,
  652230,
  63.0587,
  1.0257,
  0.52],
 [138,
  'ALB',
  'Albania',
  'Tirana',
  'Europe',
  2842321,
  2866849,
  2882481,
  2913399,
  3182021,
  3295066,
  2941651,
  2324731,
  28748,
  98.8702,
  0.9957,
  0.04],
 [34,
  'DZA',
  'Algeria',
  'Algiers',
  'Africa',
  44903225,
  43451666,
  39543154,
  35856344,
  30774621,
  25518074,
  18739378,
  13795915,
  2381741,
  18.8531,
  1.0164,
  0.56],
 [213,
  'ASM',
  'American Samoa',
  'Pago Pago',
  'Oceania',
  44273,
  46189,
  51368,
  54849,
  58230,
  47818,
  32886,
  27075,
  199,
  222.4774,
  0.9831,
  0.0]]

In [17]:
corrDl[0:4]

[[' Denmark', 88, 88, 87, 88, 88, 90, 91, 92, 91, 90],
 [' New Zealand', 88, 88, 87, 87, 89, 90, 91, 91, 91, 90],
 [' Finland', 88, 85, 86, 85, 85, 89, 90, 89, 89, 90],
 [' Singapore', 85, 85, 85, 85, 84, 84, 85, 84, 86, 87]]

Additionally, here are the column lists for the world population CSV file and the corruption index CSV file. Please note that the column names are pretty self-explanatory.

In [19]:
worldColumns

['Rank',
 'CCA3',
 'Country',
 'Capital',
 'Continent',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km²)',
 'Density (per km²)',
 'Growth Rate',
 'World Population Percentage']

In [20]:
corrColumns

['region_name',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012']

The world population information is taken from the following Kaggle dataset: https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

The world corruption index information is taken from another Kaggle dataset: https://www.kaggle.com/datasets/tr1gg3rtrash/global-corruption-index

To answer the questions below you can use any of the data representations (data frame, array, list) provided to you.  Your output should be presented in a readable form that makes it clear what you are reporting (if you are working with lists, please engage in come pretty printing. data frames can be presented as-is. for arrays - look at what the output looks like, and if it is messy, pretty print as well).

**NOTE:** All questions MUST be answered **in isolation**. That is, you cannot reuse any variables computed when answering one question to answer another question. Instead - **you can reuse the code** (basically, I should be able to copy a full cell answering a question into an empty notebook and have it produce correct result).

**Question 1:** Identify the country whose capital city was known as Nursultan. Calculate the total population change (absolute value of the difference between the 2000 and 2020 population counts) for this country between the years 2000 and 2020. Report the name of the country and the absolute value of the population change.

**Restriction:** implement the answer to this question using loops over either the `numPy` array or the list structure.

In [1]:
### Your code goes here

**Question 2:**  Calculate the change in the Corruption Index for Poland between the years 2012 and 2021.

**Requirements**: Subtract the 2012 value from the 2021 value (Value_{2021} - Value_{2012}). 

**Output Format**: Your code must produce a "pretty-printed" string.

**Example**: "The corruption index for Poland changed by [X] points between 2012 and 2021."

In [2]:
### Your code goes here

**Question 3:**  Find the change in the Corruption Index between 2012 and 2021 for the country whose capital city was known as Nursultan. 

**Restriction Manditory**: You must implement the solution by looping over the rows of your chosen data structure.You can use any representation (data frame, array, list), but you should implement the answer via explicit examination of individual rows in the appropriate structures.

**Requirement**: Your code must explicitly examine individual rows to identify the correct country and extract the values.Note: While you may use a DataFrame, Array, or List, you cannot use high-level filtering functions (e.g., df.loc or df.query) to find the result in a single step.

**Output Requirements**:Report the Country Name.Report the Change Value (Value_{2021} - Value_{2012}).Ensure the output is "pretty-printed" in a clear sentence.

In [8]:
### Your code goes here

**Question 4** Categorize all countries based on their 2020 Corruption Index and calculate the total count for each category.
The Categories:
"Good": Corruption index of 70 or higher.
"Average": Corruption index between 45 and 69, inclusive.
"Bad": Corruption index below 45.

**Output Requirements**:Your output must consist of exactly three rows (one for each type). Please "pretty-print" the results so they are easily readable.

**Example Format**:  
Good: [Count]
Average: [Count]
Bad: [Count]

In [9]:
### Your code goes here

**Question 5:** Find the country (or countries) in Asia that had the lowest Corruption Index score in 2020.

**Important Definitions**: Check the data to identify what scores indicate "Most Corrupt".

**Geographic Scope**: You must filter the data to include only countries located in the continent of Asia.

**Handling Ties**: If multiple countries share the same minimum score, your code must report all of them.

**Output Requirements**: Report the Country Name(s) and their corresponding 2020 Corruption Index score.

Use a "pretty-printed" format (e.g., "In 2020, the most corrupt country in Asia was [Country] with a score of [Score].").

In [10]:
### Your code goes here

**Question 6:**  Identify the South American country (or countries) that achieved the greatest improvement in their Corruption Index score between 2012 and 2020.

**Important**: Determine the definition for the "Greatest Improvement" before writing your logic. Hint: Read the dataset documentation.

**Geographic Scope**: You must filter the datasets to include only countries located in South America.

**Handling Ties**: If multiple countries share the same highest improvement value, you must report all of them.

**Output Requirements**:Alphabetical Order: If there are ties, the country names must be listed in alphabetical order.Data Points: For each matching country, report the Country Name, the 2012 Score, and the 2020 Score.

**Format**: Provide a "pretty-printed" summary of the results.

In [11]:
### Your code goes here

**Question 7:**  Generate a list of countries that meet a specific population density threshold, ordered by their perceived corruption levels in 2015.

**The Criteria**:
1) Population Density: Include only countries with a density greater than 100 people per square kilometer.
2) Target Year: Use the 2015 Corruption Index for sorting and reporting.

**Output Requirements**: For every country that meets the density criteria, report the following three columns:
1) Country Name
2) Population Density
3) 2015 Corruption Index

**Sorting (Mandatory)**: The final list must be sorted in descending order based on the 2015 Corruption Index (least corrupt countries at the top).

**Technical Constraints**: You must link the world_population.csv (for density) with the corruption_data.csv (for the index).
Ensure your output is "pretty-printed" or rendered as a clean table/Dataframe.

In [12]:
### Your code goes here

**Question 8:**  Generate an alphabetical list of all countries in Africa that are present in the population dataset but have no corresponding data in the corruption dataset.

**(Hint)**: In real-world data management, records don't always match perfectly. You may encounter:

1) Misspellings: A country might be spelled incorrectly in one file

2) Missing Values: A country might exist in the list but have NaN or null values for its corruption index.

3) Format Differences: Inconsistent use of punctuation or abbreviations.

Your goal is to find all African countries from the population file that effectively have "no data" in the corruption file.

**Restriction (Double Implementation)**: You must solve this problem using two different approaches in the same notebook:

1) Approach A (The Loop): Use a for loop to explicitly check individual rows and manually compare the datasets.

2) Approach B (The Library): Use NumPy or pandas functions (like .isin(), .merge(), or masking) to find the difference without explicit loops.

**Output Requirements**:

A single, alphabetically sorted list of country names for both approaches.

Ensure your results match for both methods.

In [13]:
### Your code goes here: Solution 1

In [ ]:
### Your code goes here: Solution 2

**Question 9:** For every continent, identify the least corrupt country (or countries) in 2020 (include all ties).

**Output Requirements**: For each matching country, report:

1) Continent

2) Country Name

3) 2020 Corruption Index

4) 2020 Population

**Sorting (Mandatory)**:

1) First, sort by Continent in alphabetical order (A–Z).

2) Second, for any ties within a continent, sort by 2020 Population in descending order (largest to smallest).

**Restriction (Pandas API)**: You must use the pandas (and/or NumPy) API to solve this. Avoid explicit Python for loops.

**Extra Credit**: Try to accomplish this in a single statement using method chaining (e.g., df.groupby(...).filter(...)). While splitting it into multiple steps is allowed, the single-statement approach more desirable.

In [14]:
## Your Code Goes Here

**Question 10:** For every year documented in the corruption dataset (2012–2021), identify the country with the smallest land area that maintained a "Good" Corruption Index ($\ge 70$) during that specific year.

 **Objective**: You are producing a year-by-year report. For each year, you must filter for "Good" countries, then find the one among them with the minimum area.
 
 **Output Requirements**: For each identified country, report:
 1) The Year
 2) Country Name
 3) Area (from the population/metadata file)
 4) Average Corruption Index: Calculate the mean score for that specific country across all years available in the dataset (2012–2021).
 
 **Technical Constraints**: 
 1) You must link the area data (Population file) with the annual scores (Corruption file).
 2) Aggregation: Note that the "Average Index" is a global average for that country's history in the file, not just the score for that specific year.
 3) Handling Ties: If two "Good" countries have the exact same smallest area in a given year, report both.
 
 **Sorting**: Sort the final output chronologically by Year.

In [15]:
## Your Code Goes Here

**Congratulations!**

You are done!

To submit your work, download your notebook to your local machine and the upload this file to the assignment in Canvas.